* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#parent_div{
    width: 80%;
    height: auto;
    position: absolute;
    margin: 5% 0 0 10%;
    z-index: -1;
   
}

#parent_div>div{
    margin:auto;
    width:50% ;
    border: 1px solid rgb(246, 246, 246);
    padding: 1%;
  
}

#parent_div>div:nth-child(1){
    display: flex;
    font-size: 1.2em;
  
}
#parent_div>div:nth-child(1)>div:nth-child(1){
   width: auto;
  
}
#parent_div>div:nth-child(1)>div:nth-child(2){
   margin-left: 2%;
   
}

#parent_div>div:nth-child(2)>img{
    width: 80%;
    margin:0 0 5% 10%;
}

#parent_div>div:nth-child(3){
    
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
    color: #FA9507;
    font-weight: 600;
}

#parent_div>div:nth-child(4){
    margin-bottom: 2%;
    line-height:30px;
}

#parent_div>div:nth-child(5){
    text-align: center;
    font-size: 18px;
    color: #FA9507;
    font-weight: 600;
}

#parent_div>div:nth-child(6){
   padding: 1%;
   line-height:30px;
}